@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");
* {
    font-family: "Raleway", sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)),
        url("imgs/backg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.logo {
    height: 30vh;
}

.logo img {
    margin-top: 15px;
    height: 30vh;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: wheat;
}

.nav ul li a:hover {
    color: #d41c1c;
    font-weight: bolder;
}

.user {
    cursor: pointer;
    color: #d41c1c;
    margin-right: 40px;
}

.user a {
    text-decoration: none;
    color: wheat;
    background-color: #d41c1c;
    border-radius: 10px;
    padding: 10px 30px;
    margin: auto;
}

.user a:hover {
    color: #d41c1c;
    font-weight: bolder;
    background-color: wheat;
}

.user i {
    font-size: 20px;
    margin-right: 10px;
    padding: 0px 14px;
}

.heropage {
    position: absolute;
    color: wheat;
    margin-top: 40px;
    margin-left: 120px;
    line-height: 30px;
}

.heropage h1 {
    font-size: 40px;
}

.heropage p {
    color: black;
    font-size: 25px;
}

span {
    font-size: 27px;
    color: rgb(247, 19, 19);
    font-weight: bold;
}

.poster {
    margin-top: 100px;
    margin-right: 150px;
}

.rating {
    display: flex;
}

.rating span {
    font-size: 19px;
    color: wheat;
    display: block;
    padding-right: 60px;
}

.rating a {
    text-align: center;
    color: wheat;
}

.poster img {
    height: 420px;
    width: 1100px;
    float: right;
    border-radius: 10px;
}

.btn1 {
    margin-top: 40px;
}

.btn1 a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    color: wheat;
    padding: 10px 20px;
    background-color: #d41c1c;
    border-radius: 20px;
}

.btn1 a:hover {
    color: black;
    font-weight: bolder;
    background-color: wheat;
    transition-duration: 00.5s;
}

.btn1 i {
    color: black;
    padding: 0px 10px;
}

.btn1 a:hover i {
    color: #d41c1c;
}

.DCEU {
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    margin-top: 50px;
}

.DCEU h1,
h5 {
    color: wheat;
}

.DCEU td {
    padding: 0px 30px;
}
.DC_Movie img {
    margin: auto;
    height: 250px;
    width: 185px;
    border-radius: 10px;
}

.DC_Movie img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.input {
    backdrop-filter: blur(10px);
    background: rgba(33, 37, 41, 0.2);
    margin: 100px auto;
    width: 35%;
    border-radius: 20px;
    padding: 10px;
}

.input h2 {
    color: wheat;
    text-align: center;
}

.ele input,
button {
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 70%;
    height: 40px;
    border-spacing: 0;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 10px;
    transition: all 00.5s;
}

.ele span {
    color: black;
    font-size: large;
}

.ele button {
    backdrop-filter: (10px);
    cursor: pointer;
    width: 25%;
    height: 40px;
    background-color: #af0002;
}

.ele button:hover {
    background-color: #222124;
}

.ele button:hover span {
    color: wheat;
}

.S tr {
    width: 100%;
}

.S h1,
h5 {
    color: wheat;
}

.S td {
    padding: 0px 30px;
}
.series img {
    margin: auto;
    height: 230px;
    width: 380px;
    border-radius: 10px;
}

.series img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.about {
    margin: 50% 0% 0% 0%;
    background-color: #af0002;
}

.about a.signup {
    background-color: wheat;
    color: #af0002;
    margin-left: 90%;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
}

.about ul {
    list-style: none;
    padding: 15px;
}
.about a {
    text-decoration: none;
    margin-left: 0%;
    padding: 10px;
    color: wheat;
    font-weight: bold;
}

.about .copy {
    text-align: center;
    color: wheat;
    font-weight: bold;
}
